#!/usr/bin/make -f

%:
	dh $@

clean:
	make -C client-libaries/erlang clean
	dh $@

override_dh_auto_build:
	dh_auto_build
	mkdir -p client-libaries/erlang/ebin
	make -C client-libaries/erlang/src

override_dh_gencontrol:
	erlang-depends
	dh_gencontrol

override_dh_auto_test:
